.panes{/*height:180px;width:300px*/float:left;}
.pane{width:290px;top:0;left:0}
.pane .content{color:#5F5F5F !important;}

.ads.patrocinadores li img, .ads.patrocinadores li {border:0 !important;}